bigOne.dimacs
bigOne.txt
fla-ghid-200-1.txt
fla-qhid-200-1.cnf
fla-qhid-200-1.txt
One.dimacs
output1.txt
output2.txt
output3.txt
output4.txt
output5.txt
output7.txt
problem1.dimacs
problem2.dimacs
problem3.dimacs
problem4.dimacs
problem5.dimacs
problem6.dimacs
problem7.dimacs